article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100vh;
}


.border {
  border: solid yellow 3px;
}

.OurProducts {
  min-height: 85vh;
	display: flex;
	justify-content: center;
  background-color: rgba(0, 131, 202, 1);
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.19);
}

.wrapper-product {
  max-width: 1440px;
}

.title-products {
  width: 37%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .title-products {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
}
.container-products {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .container-products {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.content-cash {
  display: none;
}
@media(max-width: 768px) {
  .content-cash {
    background: #F8F8F8;
    display: none;
  }
}

.content-card {
  display: none;
}
  @media(max-width: 768px) {
    .content-card {
      background: #F8F8F8;
      display: none;
    }
  }

.content-account {
  display: none;
}
  @media(max-width: 768px) {
    .content-account {
      background: #F8F8F8;
      display: none;
    }
  }

.wrapper-product--box {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box-product {
  width: 30%;
  position: ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.box-product::before {
  content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.box-product::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
/* .cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus {
	outline: none;
	color: #3c8ddc;
}

.cbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}


.cbutton--effect-novak::after {
	background: rgba(111,148,182,0.25);
}

.cbutton--effect-novak.cbutton--click::after {
	-webkit-animation: anim-effect-novak 0.5s forwards;
	animation: anim-effect-novak 0.5s forwards;
}

.cbutton--effect-sanja.cbutton--click::after {
  -webkit-animation: anim-effect-sanja 1s ease-out forwards;
  animation: anim-effect-sanja 1s ease-out forwards;

@-webkit-keyframes anim-effect-novak {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.1, 0.1, 1);
		transform: scale3d(0.1, 0.1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(8, 8, 1);
		transform: scale3d(8, 8, 1);
	}
}

@keyframes anim-effect-novak {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.1, 0.1, 1);
		transform: scale3d(0.1, 0.1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(8, 8, 1);
		transform: scale3d(8, 8, 1);
	}
} */




@media (max-width: 768px) {
  .box-product {
    width: 100%;
  }
}

.img-seta {
  display: none;
  transform: rotate(90deg);
  height: 100px;
  position: absolute;
  bottom: -1.5rem;
}

  @media(max-width: 768px) {
    .img-seta {
      display: none;
    }
  }

.open {
  /* display: block; */
} 


.wrapper-inside-mobile {
  display: none;
}

  @media(max-width:768px) {
    .wrapper-inside-mobile {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

.products-separator {
  height: 35vh;
  border-left: 2px solid #fff;
}

@media(max-width: 768px){
  .products-separator{
    display: none;
  }
}

.products-separator-mobile {
  display: none;
}
  @media(max-width: 768px) {
    .products-separator-mobile {
      display: flex;
      width: 80vw;
      border-bottom: #fff solid 2px;
    }
  }

@media(max-width: 768px) {
  .title-cash {
    padding-top: 2rem;
  }
}

.box-product--Card {
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border-left: 2px solid #fff;
  border-right: 2px solid #fff; */
}
@media (max-width: 768px) {
  .box-product--Card {
    width: 90vw;
    border: none;
  }
}
.box-product--Card:hover {
  color: #fff;
  opacity: 0.5;
}
.products-firstbox-simulater {
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
@media(max-width: 640px){
  .products-firstbox-simulater{
    height: 0;
  }
}
#OurProducts-Inside-1 {
  display: flex;
  height: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

  @media(max-width: 768px) {
    #OurProducts-Inside-1 {
      height: auto;;
    }
  }

#OurProducts-Inside-2 {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#OurProducts-Inside-3 {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.wrapper-inside {
  max-width: 1440px;
  display: flex;
  height: auto;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

  @media(max-width: 768px) {
    .wrapper-inside {
      display: none;
      height: auto;
    }
  }

#container-products-simulater{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 131, 202, 1);
}
@media(max-width: 768px){
  #container-products-simulater{
    flex-direction: column-reverse;
  }
}
.products-simulater{
  width: 100%;
  display: flex;
  justify-content: center;
}
.OurProducts-btns{
  width: 4%;
  height: 10vh;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

@media(max-width: 768px) {
  .OurProducts-btns {
    width: 10%;
  }
}

.container-inside {
  height: 90vh;
  padding: 0 5rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center  */
}
.inside-account{
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .container-inside {
    height: auto;
    width: 90%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
  }
}
.title-inside {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: red;
  font-size: 2rem;
}
.box-inside {
  width: 33%;
  height: 112vh;
}
.img-inside-1 {
  height: 85%;
}
@media (max-width: 768px) {
  .img-inside-1 {
    display: none;
  }
}
.box-inside-cash-um {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .box-inside-cash-um {
    width: 100%;
    height: auto;
  }
}
.box-inside-cash-dois {
  width: 35%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .box-inside-cash-dois {
    width: 100%;
  }
}
.inside-cash-dois{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  @media(max-width: 768px) {
    .inside-cash-dois {
      height: auto;
    }
  }

.box-inside-cash-tres {
  width: 25%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .box-inside-cash-tres {
    width: 100%;
  }
}
.inside-cash-tres{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

  @media(max-width: 768px) {
    .inside-cash-tres {
      height: auto;
    }
  }

.d-inside {
  font-size: 0.8rem;
  font-family: "Muli", sans-serif;
}
.sub-title-inside {
  width: 60%;
  font-size: 1.15rem;
  font-family: "Montserrat", sans-serif;
}

  @media(max-width: 768px) {
    .sub-title-inside {
      width: 90%;
      padding: 2rem 0;
    }
  }

.title-inside-cash3 {
  width: 90%;
  padding-top: 1.4rem;
}

  @media(max-width: 768px) {
    .title-inside-cash3 {
      padding: 2rem 0;
    }
  }

.p-inside {
  width: 75%;
  color: #707070;
  font-size: 1rem;
  opacity: 0.7;
  font-family: "Muli", sans-serif;
}
  @media(max-width: 768px) {
    .p-inside {
      width: 90%;
    }
  }

.p-step-inside {
  padding: 1rem 0;
  color: #707070;
  font-weight: bold;
  font-size: 0.8rem;
}
#OurProducts-Inside-2 {
  /* display: none; */
}
.Inside.--isShow {
  display: none;
}
.title-inside-2 {
  color: red;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.img-inside-2 {
  position: absolute;
  top: 15rem;
  height: 40%;
}
@media (max-width: 768px) {
  .img-inside-2 {
    display: none;
  }
}
.box-inside-2 {
  width: 33%;
  height: 112vh;
}
.box-inside-cash-2 {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box-inside-card{
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

  @media(max-width: 768px) {
    .box-inside-card {
      width: 100%;
      height: auto;
    }
  }

.card-1{
  height: 50%;
}

@media(max-width: 768px) {
  .card-1 {
    width: 100%;
    height: auto;
  }
}

.card-2{
  height: 65%;
  /* justify-content: space-evenly; */
}
  @media(max-width: 768px) {
    .card-2 {
      width: 100%;
      height: auto;
    }
  }

.card-3{
  width: 25%;
  height: 65%;
  display: flex;
  flex-direction: column;
}

@media(max-width: 768px) {
  .card-3 {
    width: 100%;
    height: auto;
  }
}

.card-inside-3{
  width: 95%;
}
/* @media (max-width: 768px) {
  .box-inside-cash-2 {
    position: relative;
    width: 100%;
    left: 28px;
  }
} */
.inside-cash-2{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inside-card-1{
  position: relative;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

  @media(max-width: 768px) {
    .inside-card-1{
      height: auto;
    }
  }

.inside-card-2{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

  @media(max-width: 768px) {
    .inside-card-2{
      height: auto;
    }
  }
.inside-card-3{
  height: 82%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

@media(max-width: 768px) {
  .inside-card-3{
    height: auto;
  }
}

.sub-title-inside-2 {
  width: 68%;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

  @media(max-width: 768px) {
    .sub-title-inside-2 {
      width: 90%;
      padding: 2rem 0;
    }
  }

.p-inside-2 {
  width: 82%;
  color: #707070;
  opacity: 0.7;
  font-size: 0.8rem;
  font-family: "Muli", sans-serif;
}

  @media(max-width: 768px) {
    .p-inside-2 {
      width: 90%;
    }
  }

.p-step-inside-2 {
  color: #707070;
  font-weight: bold;
  font-size: 0.8rem;
}

  @media(max-width: 768px) {
    .p-step-inside-2 {
      padding: 1rem 0;
    }
  }

.p-card-3{
  padding: .6rem 0;
}
.title-inside-3 {
  color: #ff0000;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .title-inside-3 {
    color: #ff0000;
  }
}
.img-inside-3 {
  position: absolute;
  top: 425px;
  height: 30%;
  z-index: -1;
}
@media (max-width: 768px) {
  .img-inside-3 {
    display: none;
  }
}
.box-inside-3 {
  width: 33%;
  height: 100vh;
  position: relative;
}
.box-inside-cash-3 {
  position: relative;
  width: 35%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

  @media (max-width: 768px) {
    .box-inside-cash-3 {
      width: 100%;
    }
  }

.sub-title-inside-3 {
  width: 63%;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

  @media(max-width: 768px) {
    .sub-title-inside-3 {
      width: 90%;
      padding: 2rem 0;
    }
  }

.p-inside-3 {
  width: 72%;
  opacity: 0.7;
  color: #707070;
  font-size: 0.8rem;
  font-family: "Muli", sans-serif;
}

  @media(max-width: 768px) {
    .p-inside-3 {

    }
  }

.p-step-inside-3 {
  color: #707070;
  font-weight: bold;
  font-size: 0.8rem;
}

@media(max-width: 768px) {
  .p-step-inside-3 {
    padding: 1rem 0;
  }
}

#footer {
  /* max-width: 1440px; */
}